:root{
    /* Colores*/
    --background-color: #F2D7EE ;
    --principal-color: #0E103D;
    --secondary-color:#69306D;
    --bacground-twocolor: #080921;
    --just-white: rgb(240, 239, 243);
    --soft-purple: #caa8cc;
    --off-white: #faf8f7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: hsla(237, 63%, 15%, 1);
    background: linear-gradient(225deg, hsla(237, 63%, 15%, 1) 0%, hsla(240, 22%, 28%, 1) 48%, hsla(296, 39%, 31%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E103D", endColorstr="#383858", GradientType=1 );
}

header img {
    width: 150px;
    height: 65px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 38px;
    text-align: center;
    align-self: center;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-purple)
}

.header--title-container .header--button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-65%,
    -25px);
    display: block;
    margin: 0 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px ;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--principal-color);
}

.header--title-container .header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/152427.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}

.main-information-container{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}
.main-information-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-information-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/images/diona.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-information-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--bacground-twocolor);
}

.main-information-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--secondary-color);

}
.section--infoCharacter h3{
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--principal-color);
}

.section--infoCharacter div img{
    width: 320px;
    height: 200px;
    margin-top: 20px;
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--bacground-twocolor);
}

.product-detail--paimon-logo{
    position: absolute;
    width: 35px;
    height: 35px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/paimon-icon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--title{
    width: 90%;
    min-width: 298px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-purple);
}

.product-detail--card{
    padding: 15px;
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;  
    margin: 15px auto;
    background-color: #0d0f35 ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(41, 50, 90, 0.16);
}

.product-detail--card .icon-card{
    display:  inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock{
    background-image: url('./assets/icons/clock.png');
}
.eye{
    background-image: url('./assets/icons/icon-eye.png');
}
.money{
    background-image: url('./assets/icons/pyro.png');
}
.check{
    background-image: url('./assets/icons/anemo.png');
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-purple);
}
.impact-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/images/pexels-madison-inouye-1831234.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.impact-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--bacground-twocolor);
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

.plans--title h2 {
    padding:  50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--principal-color);

}
.plans--title p {
    padding:  30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--secondary-color);
}

.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89, 73, 30, 0.16);
}

.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
    left: calc(50% - 60px);
    background-color: var(--principal-color);
    border-radius: 8px;
    color: var(--just-white);
}

.plan-card--title{
    padding: 30px 5px 0 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.plan-card--saving{
    font-size: 1.2rem;
    color: var(--soft-purple);
}
.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
    border: 2px solid var(--principal-color) ;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
}

.plan-card--ca span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('./assets/icons/right.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--principal-color);
}

footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li{
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}